.nav__text {
  color: black;
}
.block-post {
  width: 95%;
}
.main-heading {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.leave-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.leave-comment__input {
  padding: 15px 85px;
  border-radius: 10px;
  outline: none;
}
.leave-comment__btn {
  background: rgba(36, 135, 99, 0.85);
  border-radius: 100px;
  width: 60%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 55px;
  color: white;
  border: none;
  cursor: pointer;
}
.wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.comment-author {
  background: #ffffff;
  padding: 10px 15px;
  display: flex;
  margin-bottom: 10px;
  border: 2px solid #928c8c;
  border-radius: 30px;
  width: 95%;
  height: 60px;
}
.comment-author__avatar {
  width: 35px;
  height: 35px;
}
.user-name {
  font-size: 10px;
  padding: 0px 10px;
}
.user-comment {
  font-size: 10px;
  padding-left: 10px;
}
/* Media Request for 768px */
@media (min-width: 768px) {
  .main-heading {
    margin: 20px 20px;
  }
  .block-post__subtitle {
    font-size: 20px;
    line-height: 30px;
    height: 170px;
    padding: 35px 20px;
  }
  .leave-comment__input {
    padding: 25px 160px;
    font-size: 20px;
  }
  .leave-comment__btn {
    font-size: 20px;
    height: 50px;
    margin: 15px 100px;
  }
  .comment-author {
    height: 100px;
    width: 80%;
    margin-top: 10px;
  }
  .comment-author__avatar {
    width: 55px;
    height: 55px;
  }
  .user-name {
    font-size: 20px;
  }
  .user-comment {
    font-size: 20px;
  }
  nav {
    position: static;
  }
  .block-post {
    width: 80%;
  }
}
/* Media Request for 1440px */
@media (min-width: 1440px) {
  .leave-comment__input {
    font-size: 15px;
    padding: 15px 100px;
  }
  .leave-comment__btn {
    font-size: 15px;
    height: 35px;
    margin: 10px 70px;
  }
  .comment-author {
    width: 40%;
    height: 80px;
  }
  .comment-author__avatar {
    width: 35px;
    height: 35px;
  }
  .user-name {
    font-size: 15px;
  }
  .user-comment {
    font-size: 15px;
  }
  .block-post__subtitle {
    font-size: 15px;
    line-height: 35px;
    height: 100px;
    padding: 20px 20px;
  }
  .block-post {
    width: 40%;
  }
}
