.registration-container__img {
  display: none;
}
.registration-container__btn,
.registration-form__btn {
  color: #fff;
  background: rgba(36, 135, 99, 0.85);
  border-radius: 20px;
  border: none;
  width: 65%;
  height: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.registration {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration-form__input {
  width: 100%;
  padding: 15px 40px;
  margin: 10px 0px;
  border-radius: 10px;
  outline: none;
}
.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-container__title {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #000000;
  padding-bottom: 10px;
}
.registration-form__subtitle {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #000000;
}
/* Media request for 768px */
@media (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }
  .registration-container__img {
    display: inline;
    width: 200px;
    height: 165px;
  }
  .registration {
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
  }
  .registration-container__title {
    font-size: 15px;
    line-height: 40px;
  }
  .registration-container__btn,
  .registration-form__btn {
    width: 70%;
    height: 40px;
    font-size: 15px;
  }
  .registration-form__input {
    font-size: 15px;
  }
  .registration-form {
    padding-bottom: 50px;
    gap: 5px;
  }
  .registration-form__subtitle {
    font-size: 20px;
  }
}
/* Media request for 1440px */
@media (min-width: 1440px) {
  .registration {
    justify-content: space-around;
  }
  .registration-form {
    margin-top: 15px;
    gap: 10px;
  }
  .registration-container__img {
    width: 200px;
    height: 200px;
  }
  .registration-container__title {
    font-size: 15px;
  }
  .registration-container__btn,
  .registration-form__btn {
    width: 80%;
    height: 40px;
    font-size: 15px;
  }
  .registration-form__subtitle {
    font-size: 20px;
  }
  .registration-form__input {
    font-size: 15px;
    width: 130%;
  }
}
